.links {
    position: fixed;
    top:0;
}

.heading-info {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.worker-info {
    font-family: 'Helvetica Neue', 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 8px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content;
}


.laptop-info {
    text-decoration: none;
    font-family: 'Helvetica Neue', 'Roboto';
    font-style: normal;
    font-weight: 700;
    border-bottom-width: 2px;
    font-size: 20px;
}


.container {
    width: 100%;
    background-color: #f6f6f6;
    height: 973px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.form-container {
    margin: auto;
    width: 95%;
    max-width: 1226px;
    background-color: white;
    border-radius: 18px;
    padding: 88px 44px;
}

form {
    width: 100%;
    max-width: 826px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.actions{
    margin: auto;
    width: 100%;
    max-width: 926px;
    margin-top: 88px;
    text-align: end;
}

.input-container {
    height: 134px;
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 60px;
}

.back-btn{
    background-color: transparent;
    color: #62A1EB;
}

.back-btn:hover{
    background-color: transparent;
    color: #62A1EB;
}

.info-container {
    width: 100%;
    height: 300px;
}

.input-norm {
    width: 408px;
    height: 60px;
    border: 1.8px solid #8AC0E2;
    border-radius: 8px;
}
.input-big {
    width: 878px;
    height: 60px;
    border: 1.8px solid #8AC0E2;
    border-radius: 8px;
}

.nameDiv {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.surNameDiv {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.firstRow {
    display: flex;
    gap: 70px;
    height: 100px;
}

.position {
    width: 878px;
    height: 60px;

    background: #EBEBEB;
    border-radius: 8px;
}

.input-norm:focus {
    background: rgba(43, 75, 242, 0.06);
    border: 1.8px solid #6499FF;
    border-radius: 8px;
}

.input-form.input-fluid {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.input-error {
    border: 1px solid red;
    color: red;
}

.label {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.hint {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}


.dropdown-container{
    width: 878px;
    height: 60px;
    background: #EBEBEB;
    border-radius: 8px;
    font-weight: 900;
    font-size: 18px;
    border: none;
}

.secondRow {
    display: flex;
    flex-wrap: wrap;
    gap: 53px;
    margin-top: 52px;
}

.thirdRow {
    margin-top: 51px;
    display: flex;
    height: 300px;
    width: 926px;
    flex-direction: column;
    gap: 38px;
}

.email-input-div {
    width:926px;
    height: 134px;
}

select {
    padding: 0.5em;
    cursor: pointer;
}

.input-norm-email {
    width: 878px;
    height: 60px;
    border: 1.8px solid #8AC0E2;
    border-radius: 8px;
}


.laptopContainer {
    display: none;
    flex-direction: column;
}

.lastBtn {
    display: none;
}

.first-form {
    display: flex;
}

.submit {
    display: none;
}

#img-preview img{
    width: 300px;
    height: auto;
}

.justyfy-content-space-between{
    display: flex;
    justify-content: space-between;
}